.Home-container {
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.Home-top-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 68px);
  justify-content: space-around;
  align-items: center;
}
.Home-top-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6vw;
}

.Home-bounce-container {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background-color: var(--mid--purple);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home-bounce {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background-color: var(--secondary); /* Dark purple */
  position: absolute;
}

/* Keyframe animations for the bouncing effect */
@keyframes bounce11 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -14vw);
  }
}
@keyframes bounce12 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 14vw);
  }
}

@keyframes bounce21 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(12.1vw, 7vw);
  }
}
@keyframes bounce22 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(12.1vw, -7vw);
  }
}

@keyframes bounce31 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-12.1vw, 7vw);
  }
}
@keyframes bounce32 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-12.1vw, -7vw);
  }
}

/* Applying animations to the circles */
.circle1.bounce11 {
  animation: bounce11 4s infinite;
}
.circle1.bounce12 {
  animation: bounce12 4s infinite;
}
.circle2.bounce21 {
  animation: bounce21 4s infinite;
}
.circle2.bounce22 {
  animation: bounce22 4s infinite;
}
.circle3.bounce31 {
  animation: bounce31 4s infinite;
}
.circle3.bounce32 {
  animation: bounce32 4s infinite;
}

.Home-top-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Home-top-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 300px;
  gap: 2vh;
}
.Home-login {
  font-weight: bold;
  color: var(--primary--dim);
}
.Home-top-arrow {
  scale: 2;
  font-weight: lighter;
}

.Home-about-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 80vh;
  overflow: scroll;
  padding: 10vh 10vw 10vh 10vw;
  background-color: var(--secondary);
}
.Home-about-title {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 3vh;
}
.Home-about-logo {
  width: 120px;
  height: auto;
}
.Home-about-qna-container {
  display: flex;
  gap: 4vw;
}
.Home-about-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 45px;
}
