.Flashcards-container {
  min-height: calc(100vh - 218px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

.Flashcards-button-nav {
  display: flex;
  background-color: var(--primary--dim);
  padding: var(--m) var(--l);
  margin: 5vw;
  border-radius: 30px;
  align-items: center;
  color: var(--light);
}

.Flashcards-button-nav:hover {
  background-color: #6673e5;
}
