.SingleFlashcard-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.SingleFlashcard-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
  padding: 40px;
  height: 40vh;
  min-height: 200px;
  width: 30vw;
  border-radius: 10px;
  overflow: hidden;
}
.SingleFlashcard-content {
  display: flex;
  height: 100%;
  color: var(--primary--dim);
  font-size: calc(0.5vw + 20px);
  text-align: center;
  overflow: auto;
}

.SingleFlashcard-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: calc(1vw + 10px);
}
.SingleFlashcard-button:hover {
  cursor: pointer;
}
