.EditProfile-container {
  display: flex;
  padding-top: 10%;
  padding-left: 25%;
  padding-right: 25%;
  align-items: left;
  flex-direction: column;
  height: calc(100vh - 68px);
}

.EditProfile-title {
  margin-bottom: 20px;
  font-size: 30px;
}

.EditProfile-userColor-container {
  display: flex;
  margin: 20px;
}

.EditProfile-userColor-title {
  font-size: 20px;
  width: 30%;
  margin-right: 10px;
}

.EditProfile-userColor-searchBar {
  border-color: var(--mid--purple);
  border-width: 1px;
  border-radius: 20px;
  padding: 5px;
}

.EditProfile-aboutMe-container {
  display: flex;
  margin: 20px;
}

.EditProfile-aboutMe-title {
  margin-right: 10px;
}

.EditProfile-aboutMe-searchBar {
  border-color: var(--mid--purple);
  border-width: 1px;
  border-radius: 20px;
  width: 16vw;
  padding: 5px;
}

.EditProfile-submitButton {
  display: flex;
  font-size: 23px;
  color: #5d6adf;
  background-color: var(--primary);
  font-family: "Roboto", serif;
  border: none;
  margin-left: 15px;
}
.EditProfile-submitButton:hover {
  display: flex;
  font-size: 23px;
  color: #2d3aaf;
  background-color: var(--primary);
  font-family: "Roboto", serif;
  border: none;
  margin-left: 15px;
  cursor: pointer;
}

.EditProfile-backButton {
  margin-top: 20px;
  font-family: "Roboto", serif;
  display: flex;
  font-size: 23px;
  color: #4f4b54;
}

.EditProfile-backButton:hover {
  margin-top: 20px;
  display: flex;
  font-size: 23px;
  color: #000000;
}
